main {
    background-color: #fad9d9;
}


.icon {
    display: flex;
}

h1 {
    color: rgba(235, 78, 38, 0.678);
    line-height: 200%;
}


.card {
    box-shadow: 0px 4px 8px 0 #ABAAAA;
    transition: 0, 3s;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 10px;
}

.card:hover {
    box-shadow: 0px 8px 16px 0 #7a7a7a;
}

.card img {
    width: 100%;
    height: 220px;
}

.card .container {
    padding: 2px 16px;
}

.card .container h4 {
    font-style: inherit;
    text-align: center;
}


.container {
    padding: 2px 16px;
    align-content: center;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

img {
    border-radius: 5px 5px 5px 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.form {
    margin-top: 20px;
    margin-top: 5px;
}

.links-e {
    padding: 2px 16px;
}

.container-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}




button {
    padding: 10px;
    background-color: #de1822;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 10px 0 #9f080f inset, 0 0 10px 4px #9f080f;
}


.menu a {
    color: grey;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
}

.menu a:hover {
    background-color: rgba(255, 160, 136, 0.678);
    padding-left: 1.5rem;
}



.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
}

.form-product {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.form-control-inputs {
    width: 90vw;
    padding: 3rem;
    border: 0px;
    border-radius: 20px;
}

.form-control-inputs form > * {
    margin-top: 15px;
}



@media (min-width:900px) {

    .nav-main {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .menu {
        height: auto;
        display: flex;
        justify-content: end;
    }

    .menu a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .menu a:hover {
        padding: 0;
        background: transparent;
        color: rgba(235, 78, 38, 0.678);

    }

    .container-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 87vh;
        width: 100%;
    }

    .form-control-inputs {
        width: 600px;
    }
}